* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

/* Clock container */
.clock {
  width: 300px;
  height: 300px;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Clock ticks */
.ticks {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -3px;
}
.tick {
  width: 145px;
  height: 5px;
  position: absolute;
  transform-origin: left;
  display: flex;
  justify-content: flex-end;
}
.tick .dot {
  width: 15px;
  height: 100%;
  background-color: #fff;
}

/* Clock hands */
.hands {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -100%;
}
.hand {
  transform-origin: left;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
}
.second-hand {
  width: 100px;
  height: 3px;
  background-color: #f00;
}
.minute-hand {
  width: 120px;
  height: 7px;
  background-color: #fff;
}
.hour-hand {
  width: 70px;
  height: 10px;
  background-color: #fff;
}

/* Center pin */
.center-pin {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
}

/* Digital clock */
.digital {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}

/* Footer */
footer {
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
